<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Forgot Password | Battery Shop</title>

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"
    />

    <!-- Custom Styles -->
    <link
            href="../../static/css/battery-shop.min.css"
            rel="stylesheet"
            th:href="@{/css/battery-shop.min.css}"
    />

    <!-- Main Styles -->
    <link
            href="../../static/css/main.css"
            rel="stylesheet"
            th:href="@{/css/main.css}"
    />

    <style>
			.bg-password-image {
				/* background-image: url('img/puppy.jpg'); */
				/* background-image: url{[[@{/img/login.jpg}]]}; */
			}



    </style>
</head>
<body>
<div class="container bg-purple">
    <!-- Outer Row -->
    <div class="row justify-content-center my-auto full-height">
        <div class="col-xl-10 col-lg-12 col-md-9 m-auto">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">
                                        Forgot Your Password?
                                    </h1>
                                    <p class="mb-4">
                                        We get it, stuff happens. Just enter your email address
                                        below and we'll send you a link to reset your password!
                                    </p>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input
                                                aria-describedby="emailHelp"
                                                class="form-control form-control-user"
                                                id="exampleInputEmail"
                                                placeholder="Enter Email Address..."
                                                type="email"
                                        />
                                    </div>
                                    <a
                                            class="btn btn-primary btn-user btn-block bg-purple"
                                            href="#"
                                    >
                                        Reset Password
                                    </a>
                                </form>
                                <hr/>
                                <div class="text-center">
                                    <a class="small" href="#" th:href="@{/user/register}"
                                    >Create an Account!</a
                                    >
                                </div>
                                <div class="text-center">
                                    <a class="small" href="#" th:href="@{/user/login}"
                                    >Already have an account? Login!</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery Script -->
<!--<script-->
<!--		th:src="@{'/assets/jQuery/jquery.min.js'}"-->
<!--		src="../../static/assets/jQuery/jquery.min.js"-->
<!--&gt;</script>-->
</body>
</html>
